@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: white;
    font-family: "Inter", serif;
    text-decoration: none;
}

header{
    width:  1200px;
    height: 590px;
    background: #ad8787;
    display: flex;
    margin-bottom: 140px;
}

.container_left{
    width: 50%;
    height: 100%;
    background-color: aqua;
    
}

.container_right{
    width: 50%;
    height: 100%;
    background-color: red;
    
}

ul{
    display: flex;
    gap: 10px;
    margin-left: 140px;
    margin-top: 20px;
    
    
}

li{
    background-color: #F7F7F8;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    width: 128px;
    height: 20px;
    font-size: 15px;
    color: black;
    
    
}

.header_text_1{
    font-size: 40px;
    font-weight: 600;
}

.container_text{
    display: flex;
    width: 590px;
    height: 750px;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 16px;
    background-color: #F7F7F8;
    color: black;
    text-decoration: none;
}

.header-text1{
    text-decoration: none;
}

.block{
    /* align-items: center;
    gap: 100px; */
    display: flex;
    padding: 90px 54px;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    flex-grow: 1;
    
}

.button_black{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    width: 120px;
    text-decoration: none;
}

.buttons_main{
    display: flex;
    gap: 20px;
    
}

.button_white{
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    width: 120px;
}

.book_img{
    margin-left: 300px;
    width: 590px;
    height: 750px;
    border-radius: 16px;
}

.container_menu{
    display: flex;
    gap: 20px;
}

.logo_singl{
    display: flex;
    width: 100px;

}
.button_school{
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    text-align: center;
    width: 209px;
    height: 44px;
    margin-top: 160px;
    margin-left: 600px;
    font-size: 17px;
    
}

h1{
    margin-top: 40px;
    margin-left: 470px;
    font-size: 40px;
}

.emphasis{
    text-decoration: none;
}

.container_mini{
    display: flex;
    margin-top: 40px;
    gap: 150px;
    

}
.main_text1, .main_text3{
    background-color: #ECF86E;
    width: 285px;
    height: 150px;
    border-radius: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
 }

.main_text2{
    background-color: #EFEFEF;
    width: 285px;
    height: 150px;
    border-radius: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 }

 .button_study{
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    text-align: center;
    width: 209px;
    height: 44px;
    margin-top: 160px;
    font-size: 17px;
 }

 h2{
    font-size: 40px;
    margin-top: 10px;
 }

 .container_stude{
    display: flex;
    margin-top: 208px;
    gap: 150px;
    
    
 }

 .circle_num{
    background-color: #ECF86E;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 24px;
 }

 .circle_number{
    background-color: #EFEFEF;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 24px;
 }

 .block_1{
    width: 285px;
    height: 80px;
    display: flex;
    
 }

.circle_text{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    font-size: 24px;
 }

 .block_2{
    width: 285px;
    height: 80px;
    display: flex;
 }

 .block_3{
    width: 285px;
    height: 80px;
    display: flex;
 }

 .block_4{
    width: 285px;
    height: 80px;
    display: flex;
 }

 .container_course{
    margin-left: 200px;
    justify-content: center;
    width: 1200px;
    height: 600px;
    margin-top: 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 20px;
 }
 
 .course_window_1{
    background-color: #F7F7F8;
    width: 387px;
    height: 600px;
    border-radius: 16px;
 }

 .course_window_2{
    background-color: cyan;
    width: 387px;
    height: 600px;
    border-radius: 16px;
 }

 .course_window_3{
    background-color: #ffffff;
    width: 387px;
    height: 600px;
    border-radius: 16px;
 }

 .window_mini_1_text_1{
    font-size: 60px;
    margin-left: 50px;
    margin-top: 40px;
 }

.window_mini_1_text_2{
    font-size: 50px;
    margin-left: 50px;
    margin-top: 240px;
 }

.window_mini_1_text_3{
    font-size: 12px;
    margin-left: 50px;
 }

 .window_mini_2{
    background-color: #F7F7F8;
    width: 387px;
    height: 380px;
    margin-top: 15px;
    border-radius: 16px;
 }

.window_mini_2_text_1{
    margin-left: 30px;
    font-size: 60px;
    font-weight: 200px;
 }

.window_mini_2_text_2{
    margin-left: 30px;
    font-size: 16px;
    margin-top: 170px;
 }

 .icon_left_right{
    background-color: #F7F7F8;
    display: flex;
    margin-left: 1200px;
    margin-top: 50px;
 }

 h3{
    margin-top: 50px;
    font-size: 40px;
 }

.training_program_level_1{
    background-color: #ECF86E;
    display: flex;
    width: 1200px;
    height: 300px;
    border-radius: 20px;
    margin-top: 40px;
    
}

.background{
    background-color: #F7F7F8;
    margin-top: 50px;
}

.button_program{
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    text-align: center;
    width: 235px;
    height: 44px;
    font-size: 20px;
}

.level{
    margin-left: 10px;
}

.text_level{
    margin-left: 40px;
    
}

.seasons_text_down{
    margin-top: 20px;
}