@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: white;
    font-family: "Inter", serif;
    text-decoration: none;
}

header{
    width:  1200px;
    height: 590px;
    background: #ad8787;
    display: flex;
    margin-bottom: 140px;
}

.container_left{
    width: 50%;
    height: 100%;
    background-color: aqua;
    
}

.container_right{
    width: 50%;
    height: 100%;
    background-color: red;
    
}

ul{
    display: flex;
    gap: 10px;
    margin-left: 140px;
    margin-top: 20px;
    
    
}

li{
    background-color: #F7F7F8;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    width: 128px;
    height: 20px;
    font-size: 15px;
    color: black;
    
    
}


.container_text{
    display: flex;
    width: 590px;
    height: 750px;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 16px;
    background-color: #F7F7F8;
    color: black;
    text-decoration: none;
}

.header-text1{
    text-decoration: none;
}

.block{
    /* align-items: center;
    gap: 100px; */
    display: flex;
    padding: 90px 54px;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    flex-grow: 1;
    
}

.button_black{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    width: 120px;
    text-decoration: none;
}

.buttons_main{
    display: flex;
    gap: 20px;
    
}

.button_white{
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    width: 120px;
}

.book_img{
    margin-left: 300px;
    width: 590px;
    height: 750px;
    border-radius: 16px;
}

.container_menu{
    display: flex;
    gap: 20px;
}

.logo_singl{
    display: flex;
    width: 100px;

}
.button_school{
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    text-align: center;
    width: 209px;
    height: 44px;
    margin-top: 160px;
    margin-left: 600px;
    font-size: 17px;
    
}

h3{
    margin-top: 40px;
    margin-left: 470px;
    font-size: 40px;
}

.emphasis{
    text-decoration: none;
}

.container_mini{
    display: flex;
    margin-top: 40px;
    gap: 150px;
    

}
.main_text1, .main_text3{
    background-color: #ECF86E;
    width: 285px;
    height: 150px;
    border-radius: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
 }

.main_text2{
    background-color: #EFEFEF;
    width: 285px;
    height: 150px;
    border-radius: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 }

 